/*선택자(selector) = html 태그 선택하기*/
/*css에서는 부모 태그의 스타일을 자식 태그가 덮어씀 */

/* 모든 태그에 적용 => * */

* {
  box-sizing: border-box; /*border&contents&padding 합친 border 기준 계산=> border box*/
}

/*브라우저 기본 여백 없애기*/
html,
body {
  margin: 0;
  padding: 0;
}

/* #fixed {
  /*fixed가 position인 경우 컨테이닝 블록은 화면(뷰포트)
  position: fixed;
  top: 50px;
  right: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
} */

/* .은 class, class는 id와 달리 중복 사용 가능 */

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

/* div는 생략 가능, id = # */

.center-align {
  margin: 0 auto;
  width: 1080px; /*px은 상대적인 단위. 모니터(=해상도)마다 다름*/
}

#header-top {
  float: right;
}

#header-top span {
  color: #888;
  letter-spacing: -1px;
  font-size: 11px;
  line-height: 22px;
}

#header-search a {
  text-decoration: none; /*a 태그는 밑줄이 생길 수 있는데 없애는 방법*/
  clear: both;
}

/*header-search div 내 자식태그인 h1 선택 방법*/
/*cf. 자손태그 선택방법: ex) header-search(space) h1,  자식도 자손이므로 이렇게 해도 상관x*/

#header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block; /*margin 없애는 방법*/

  /* background-image: url("./sp_search.png");
  background-position: -4px -10px;
  background-repeat: no-repeat; */
  /*글자만 안보이게 하는 방법 1: span으로 감싸기, 방법2: overflow: hidden;*/

  /*한번에 쓰는 코드*/
  background: url("./sp_search.png") -4px -4px no-repeat;
  vertical-align: middle;
  position: relative; /* relative의 컨테이닝 블록: static일 때의 현재 위치를 기준으로 이동*/
  top: -6px;
}

#header-search h1 span {
  /*자손태그명 오류 3-4강 commit에서 수정함(span 태그로 추가)*/
  display: none;
}

#header-search h2 {
  display: none; /*눈에 안보이게 (cf. blind: screen reader에는 보이게)*/
}

#header-search fieldset {
  margin-left: 20px;
  padding: 12px 0 12px 10px; /*순서: 위 오른쪽 아래쪽 왼쪽 (시계방향) */
  width: 521px;
  height: 49px;
  display: inline-block;
  border: 2px solid #03cf5d; /*HEX 표기법*/
  position: relative; /*button의 컨테이닝 블록이 되기 위해 static에서 relative로 바꿔줌*/
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
  width: 405px;
  height: 23px;
}

#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute; /*absolute의 컨테이닝 블록: 화면을 기준으로 이동. 즉, 가장 가까운 조상의 내부 영역 기준(꼭 부모가 아닐수도)*/
  right: -2px;
  top: -2px;
}

#search-image {
  background-image: url("./sp_search.png");
  background-position: -3px -60px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin: 14px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

/* css 우선순위: !important>inline style attribute>id>class>다른 attribute>tag element */
/* class 개수 많은 것이 우선순위 , pseudo class (꾸며주는 class)가 많을수록 우선순위가 많음*/

nav li:first-child span:first-child {
  width: 25px;
  background-position: 0 -285px;
  margin-left: 0; /*깜빡하고 4-5강 초반 부분까지 듣고 4-4강 commit을 해서 내용이 겹칩니다(margin-left 적용 부분)*/
}

nav li span:first-child {
  /*공동되는 부분 뽑기*/
  height: 16px;
  display: inline-block;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav.png);
  background-repeat: no-repeat;
  margin-left: 14px;
}

/*유지보수 차원에서는 nth-child보다 class 주는 방법이 낫다*/
nav li:nth-child(2) span:first-child {
  width: 27px;
  background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
  width: 40px;
  background-position: -100px -182px;
}

nav li:nth-child(4) span:first-child {
  width: 40px;
  background-position: -101px -156px;
}

nav li:nth-child(5) span:first-child {
  width: 26px;
  background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
  width: 25px;
  background-position: -70px -285px;
}
