{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새리뷰 추가</title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
  </head>

  <body>
    <div class="header">
      <h1 class="home">
        <a href="{% url 'reviews:home' %}">
          my<span>Movie</span>Reviews
        </a>
      </h1>
      <p class="add">
        <a href={% url 'reviews:create' %}>
          Add a new Review
        </a>
      </p>
    </div>
    <hr>

    <div class="main">
      <form action="{% url 'reviews:create' %}" method="post" class="create-form">
        {% csrf_token %}
        <h2>
          <span>Movie</span>review🍿</h2>
        <hr>
        <div class="create-list">
          <p>
            제목:
            <input type="text" name="title">
          </p>
          <p>
            개봉년도:
            <input type="number" name="r_year">
          </p>
          <p>
            장르:
            <select name="genre">
              {% for db_genre, display_genre in genres %}
                <option value="{{display_genre}}">
                  {{display_genre}}
                </option>
              {% endfor %}
            </select>
          </p>
          <p>
            별점:
            <input type="number" step="0.1" name="grade">
          </p>
          <p>
            러닝타임:
            <input type="text" name="r_time">
          </p>
          <p>
            <div>
              리뷰:
            </div>
            <textarea name="r_content" id="" cols="80%" rows="10">{{review.r_content}}
            </textarea>
          </p>
          <p>
            감독:
            <input type="text" name="director">
          </p>
          <p>
            배우:
            <input type="text" name="actor">
          </p>

          <div class="create-save">
            <input type="submit" value="Save">
          </div>
        </div>
      </form>
    </div>
  </body>

</html>
