<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 화면</title>
  </head>

  <body>
    <div class="header">
      <h1>
        <a href="{% url 'reviews:home' %}">
          my<span>Movie</span>Reviews
        </a>
      </h1>
      <button>
        <a href={% url 'reviews:create' %}>
          Add a new Review
        </a>
      </button>
    </div>

    {% for review in reviews %}
      <div>
        <h1>
          <a href="{% url 'reviews:detail' review.id%}">
            {{review.title}}
          </a>
        </h1>
        <p>
          개봉년도:
          {{review.r_year}}
        </p>
        <p>
          장르:
          {{review.genre}}
        </p>
        <p>
          평점:
          {{review.grade}}
        </p>
      </div>
    {% endfor %}
  </body>

</html>
