{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 화면</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

  </head>

  <body>
    <div class="header">
      <h1 class="home">
        <a href="{% url 'reviews:home' %}">
          my<span>Movie</span>Reviews
        </a>
      </h1>
      <p class="add">
        <a href={% url 'reviews:create' %}>
          Add a new Review
        </a>
      </p>
    </div>
    <hr>

    <div class="review-list">
      {% for review in reviews %}
        <div class="review-card">
          <span class="review-image">
            <image src="https://picsum.photos/id/{{id}}/200/250"></span>
            <h1>
              <a href="{% url 'reviews:detail' review.id%}">
                {{review.title}}
              </a>
            </h1>
            <p>
              <span>
                개봉년도
              </span>
              {{review.r_year}}
            </p>
            <p>
              <span>
                장르
              </span>
              {{review.genre}}
            </p>
            <p>
              <span>
                평점
              </span>
              {{review.grade}}
            </p>
          </div>
        {% endfor %}
      </div>
    </body>

  </html>
